<h2>new ad</h2>


<% if false %>
	<%= form_for @ad do |f| %>
		
		<label>ad_make:</label>
		<%= f.text_field :make %>
		<br/>
		
		<%= f.fields_for :comments do |c| %>
			<label>comment_text:</label>
			<%= c.text_field :text %>
			<br/>
		<% end %>

		<%= f.submit 'Submit me' %>

	<% end %>
<% end %>


<!-- THIS VANILLA HTML FORM WORKS EXACTLY AS INTENDED -->
<form action="/ads" method="post">

	<input name="utf8" type="hidden" value="✓" />
	<input name="authenticity_token" type="hidden" value="GdJ0f+/dIv1JA3fmQLXt+DxwjHT8p66EJTQjh9K1g3k=" />

	<input type="text" name="ad[make]" /><br/>

	<div id="comments">
		<input type="text" name="ad[comments_attributes][][text]" /><br/>
	</div>

	<a id="add_comment" href="#">add new comment</a><br/>

	<input type="submit" />
</form>

<script type="text/javascript">

$("a#add_comment").click(function() {
	var html = "<input type='text' name='ad[comments_attributes][][text]' /><br/>";
	document.getElementById('comments').insertAdjacentHTML('beforeend', html);
})

</script>